  * {
    box-sizing: border-box;
  }

  html, body {
    background-color: lightgray;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }

  header {
    background-color: white;
    height: 66px;
  }

  header * {
    color: #910707;
  }

  header .logo {
    float: left;
    height: inherit;
    padding: 19px 16px;
    text-align: center;
  }

  header .logo-text span {
    color: black;
  }
  
  header ul {
    float: right;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
    color: #910707;
  }

  header ul li a:hover {
    color: #505050;
    transition: 0.5s;
  }

  header .menu-toggle {
    display: none;
  }

  .page-wrapper {
    min-height: 100%;
    background-color: lightgray;
  }

  .hometext {
    color: black;
    background-color:lightgray;
    text-align: center;
    font-size: 24px;
  }

  .logo-photo {
    max-width: 100%;
    width: 100%;
    height: auto !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .family-photo {
    height: 400px;
    width: 400px;
    padding-right: 20px;
  }

  .aboutus {
   padding-left: 20px;
   padding-top: 20px;
  }

  .call-us {
    color: #910707;
    background-color:lightgray;
  }

  .contacttext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    font-family: block;
  }

  .shop-photo {
    height: 450px;
    width: 100%;
  }


  .contact-pic {
    font-size: 5em;

  }

  .contact-2 {
    font-size: 5em;
  }

  .contact-3 {
    font-size: 5em;
  }

  .footer {
    background: white;
    color: black;
    height: 400px;
    position: relative;
  }

  .footer .footer-content {
    border: 1px solid white;
    height: 350px;
    display: flex;
  }

  .footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
  }
  .logo-text {
    color: #910707;
  }

  .logo-text1 {
    color: black;
  }

  .fa-3x {
    color: #910707;
  }

  .footer .footer-bottom {
    background: #f8f8ff;
    color: #910707;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;

  }


  @media screen and (max-width: 750px) {
    header {
     position: relative; 
    }
   header ul {
     width: 100%;
     background-color: white;
     max-height: 0px;
     overflow: hidden;
   }
   .showing {
     max-height: 100em;
   }
   header ul li {
     width: 100%;
   }
   header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
   }
   header .logo {
     margin-left: .5em;
   }

   .logo-photo {
     max-width: 100%;
     max-height: 100%;
   }

   .family-photo {
    max-width: 100%;
    max-height: 100%;
   }

   .hometext {
    font-size: 12px;
   }

   .shop-photo {
    max-width: 100%;
    max-height: 100%;
   }

   .contacttext {
     text-align: center;
   }

   .align-items-start {
     height: auto;
     flex-direction: column;
     padding-left: 140px;
   }

   .footer {
    height: auto;
  }

  .footer .footer-content {
    height: auto;
    flex-direction: column;
  }

  .footer .footer-content .contact-form {
    padding-bottom: 90px;
  }

  .google {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }

  .google iframe {
    left:0;
    top:0;
    height:100%;
    max-width:100%;
    position:absolute;
  }
  }
